.fix-pd {
  padding: 45px;
}

img {
  max-width: 100%;
}

.text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  color: #e6302f;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.3;
}


