<div class="row">
  <div class="col-md-12 title-news">
    <img src="assets/images/title-news.png" alt="">
  </div>
  <div class="col-md-4 pb-5" *ngFor="let product of products">
    <div class="box">
      <img src="{{product.imgUrl}}">
      <p>Giá: {{product.prices | currency:'USD':'true'}}</p>
      <p [outerHTML]="product.status | instock"></p>
      <div class="box-content">
        <h3 class="title">{{product.name}}</h3>
        <span class="post">{{product.content}}</span>
      </div>
      <ul class="icon">
        <li>
          <button (click)="addToCart(product)">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </li>
        <li>
          <a [routerLink]="['/detail',product.id]">
            <i class="fa fa-link"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <div class="demo">
      <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
              <span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pages">
            <a class="page-link" routerLink="/products" [queryParams]="{pageNumber:page}">{{page}}</a>
          </li>
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>