<section class="block-1">
  <div class="container block">
    <div class="row">
      <h2>Điều kiện sử dụng</h2>
      <p>
        Vui lòng đọc kĩ các điều khoản sau trước khi sử dụng trang website www.ajimayo.com.vn (sau đây là “Website”), website được
        quản trị và duy trì bởi Công Ty Ajinomoto Việt Nam (sau đây gọi là “Ajinomoto Việt Nam”). Khi sử dụng Website, Quý
        khách đã mặc nhiên chấp thuận các điều khoản và điều kiện sử dụng (sau đây gọi tắt là “Điều kiện Sử dụng”) được quy
        định dưới đây. Để biết được các sửa đổi mới nhất, Quý khách nên thường xuyên kiểm tra lại Điều kiện Sử dụng. Ajinomoto
        Việt Nam có quyền thay đổi, điều chỉnh, thêm hay bớt các nội dung của Điều kiện Sử dụng tại bất kỳ thời điểm nào.
        Nếu Quý khách vẫn tiếp tục sử dụng Website sau khi có các thay đổi như vậy thì có nghĩa là Quý khách đã chấp nhận
        các thay đổi đó.
      </p>
      <div class="content-info">
        <span>1. Trình duyệt</span>
        <p>
          Trừ những trường hợp đặc biệt, nội dung trên Website này được thể hiện tốt nhất trên các trình duyệt sau:
        </p>
        <ul>
          <li>Microsoft Edge mới nhất</li>
          <li>Chrome 59 hoặc phiên bản mới hơn</li>
          <li>Mozilla Firefox 54 hoặc các phiên bản mới hơn</li>
          <li>Trang web này được xây dựng bằng HTML 5 và yêu cầu trình duyệt mới nhất để có thể hiển thị tốt nhất.</li>
        </ul>
        <p>
          Chúng tôi luôn nỗ lực hết mình trong việc thể hiện tốt nhất các nội dung văn bản. Nếu bạn gặp bất kỳ trục trặc nào, xin vui
          lòng liên hệ với chúng tôi.
        </p>
      </div>
      <div class="content-info">
        <span>2. TÍNH CHẤT CỦA THÔNG TIN HIỂN THỊ</span>
        <p>Các nội dung hiển thị trên Website nhằm mục đích cung cấp thông tin về Ajinomoto Việt Nam, về các sản phẩm và các
          hoạt động quảng bá sản phẩm của Ajinomoto Việt Nam.
        </p>
        <p>
          Bên cạnh đó, khi làm thành viên Website, bạn sẽ được nhận thông tin từ Ajinomoto Việt Nam bao gồm thông tin khuyến mãi về
          những sản phẩm của Ajinomoto Việt Nam.
        </p>
      </div>
      <div class="content-info">
        <span>3. MIỄN TRỪ TRÁCH NHIỆM</span>
        <p>
          Ajinomoto Việt Nam luôn cố gắng hết mình để mọi thông tin trên Website đều chính xác. Tuy nhiên, chúng tôi không chịu trách
          nhiệm về tính chính xác, tính chất kịp thời của thông tin, tính áp dụng hoặc về tổn thất có thể xảy ra do căn cứ
          vào thông tin trên Website này.
        </p>
        <p>
          Ajinomoto Việt Nam không chịu trách nhiệm cho bất kỳ tổn thất hoặc thiệt hại gây ra bởi việc sử dụng hoặc không sử dụng được
          Website này.
        </p>
        <p>
          Ajinomoto Việt Nam và các nhà cung cấp khác cũng từ chối trách nhiệm đưa hay đưa ra bảo đảm rằng Website sẽ không có lỗi
          vận hành, an toàn, không bị gián đoạn hay bất cứ đảm bảo nào về tính chính xác, đầy đủ và đúng hạn của các thông
          tin.
        </p>
      </div>
      <div class="content-info">
        <span>
          4. BẢN QUYỀN VÀ THƯƠNG HIỆU
        </span>
        <p>Ajinomoto Việt Nam luôn cố gắng hết mình để mọi thông tin trên Website đều chính xác. Tuy nhiên, chúng tôi không
          chịu trách nhiệm về tính chính xác, tính chất kịp thời của thông tin, tính áp dụng hoặc về tổn thất có thể xảy
          ra do căn cứ vào thông tin trên Website này.</p>
        <p>Ajinomoto Việt Nam không chịu trách nhiệm cho bất kỳ tổn thất hoặc thiệt hại gây ra bởi việc sử dụng hoặc không sử
          dụng được Website này.</p>
        <p>Ajinomoto Việt Nam và các nhà cung cấp khác cũng từ chối trách nhiệm đưa hay đưa ra bảo đảm rằng Website sẽ không
          có lỗi vận hành, an toàn, không bị gián đoạn hay bất cứ đảm bảo nào về tính chính xác, đầy đủ và đúng hạn của các
          thông tin.</p>
      </div>
      <div class="content-info">
        <span>5.&nbsp;LƯU Ý VỀ “COOKIES</span>
        <p>Ajinomoto Việt Nam bảo lưu quyền thay đổi, chỉnh sửa hoặc chấm dứt hoạt động của Website vào bất cứ thời điểm nào
          và sẽ không chịu trách nhiệm cho bất kỳ thiệt hại nào gây ra bởi những thay đổi, xóa bỏ thông tin, hoặc ngưng hoạt
          động của Website.
          <br>
        </p>
      </div>
      <div class="content-info">
        <p>Website này có thể chứa đựng những liên kết đến các website của bên thứ ba. Website này được quản lý độc lập và duy
          trì bởi các công ty hay cá nhân của bên thứ ba, vì vậy, Ajinomoto Việt Nam không kiểm soát các liên kết ấy.</p>
        <p>Ajinomoto Việt Nam không chịu trách nhiệm cho bất kỳ tổn thất hoặc thiệt hại gây ra từ các liên kết bên ngoài này.
          Vui lòng sử dụng các liên kết ngoài sau khi đồng ý với các điều khoản được cung cấp từ chính website ấy.</p>
        <p>Ajinomoto Việt Nam cung cấp liên kết đến các website của bên thứ ba để tiện cho việc sử dụng của bạn và không chủ
          ý khuyến khích việc sử dụng bất kỳ sản phẩm hoặc dịch vụ từ các website đó.</p>
        <p>Ngoài ra, Ajinomoto Việt Nam không liên quan hay tham gia vào bất kỳ tổ chức hoặc liên kết với các tập đoàn, chủ
          quản của các website này.</p>
      </div>
      <div class="content-info">
        <span>7.&nbsp;LUẬT ÁP DỤNG VÀ PHẠM VI QUYỀN LỢI</span>
        <p>Các điều khoản, điều kiện và nội dung của Website này chịu sự điều chỉnh theo pháp luật áp dụng của Việt Nam. Tất
          cả các tranh chấp phát sinh từ các điều khoản này nếu không giải quyết được bằng biện pháp thương lượng sẽ được
          đệ trình lên Trung Tâm Trọng Tài Quốc Tế Việt Nam (VIAC) bên cạnh Phòng Thương Mại và Công Nghiệp Việt Nam.
          <br>
        </p>
      </div>
      <div class="content-info">
        <span>8.&nbsp;THÀNH VIÊN WEBSITE</span>
        <p>Để trở thành thành viên, bạn phải cam kết đồng ý với các điều khoản dưới đây. Chúng tôi có thể thay đổi lại những
          điều khoản này vào bất cứ lúc nào và chúng tôi sẽ cố gắng thông báo đến bạn kịp thời.</p>
        <p>Bạn cam kết không gửi bất cứ bài viết có nội dung lừa đảo, thô tục, thiếu văn hoá; vu khống, khiêu khích, đe doạ
          người khác; liên quan đến các vấn đề tình dục hay bất cứ nội dung nào vi phạm luật pháp của quốc gia mà bạn đang
          sống, luật pháp của quốc gia nơi đặt máy chủ của website này hay luật pháp quốc tế. Nếu vẫn cố tình vi phạm, ngay
          lập tức bạn sẽ bị cấm tham gia vào website. Địa chỉ IP của tất cả các bài viết đều được ghi nhận lại để bảo vệ
          các điều khoản cam kết này trong trường hợp bạn không tuân thủ.</p>
      </div>
      <div class="content-info">
        <span>9.&nbsp;CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN KHÁC</span>
        <p>Các điều khoản khác của chính sách bảo mật thông tin sẽ là một phần không thể tách rời với điều kiện sử dụng Website
          này.
          <br>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="block-2">
  <div class="container block">
    <div class="row">
      <h2>Điều khoản bảo mật</h2>
      <p>Công Ty Ajinomoto Việt Nam (sau đây gọi là “Ajinomoto Việt Nam”) cam kết bảo vệ mọi thông tin cá nhân của người truy
        cập vào website: www.ajimayo.com.vn (sau đây gọi là “Website”). Với website này, Ajinomoto Việt Nam có cơ hội nhận
        được những thông tin cá nhân thông qua yêu cầu của bạn về sản phẩm, các chương trình quảng cáo, hoặc các bảng câu
        hỏi thăm dò nhằm mục đích phục vụ yêu cầu của Ajinomoto Việt Nam (sau đây gọi là “Mục đích”). Ajinomoto Việt Nam
        tin rằng bảo mật tất cả các thông tin cá nhân ấy là một cam kết hết sức quan trọng. Để bảo mật thông tin của bạn
        tốt hơn, Ajinomoto Việt Nam cung cấp một số chính sách sau nhằm ngăn chặn bất kỳ rò rỉ, sử dụng sai hoặc thay đổi
        thông tin cá nhân của bạn trong khả năng tốt nhất của chúng tôi.</p>
      <div class="content-info">
        <span>1.&nbsp;THẾ NÀO LÀ THÔNG TIN CÁC NHÂN?</span>
        <p>Các loại thông tin bao gồm:</p>
        <ol>
          <li>Thông tin cá nhân như họ và tên, giới tính, ngày sinh, số hộ chiếu hoặc giấy tờ xác minh nhân thân khác (ngày cấp,
            nơi cấp), quốc tịch, ngôn ngữ.</li>
          <li>Thông tin liên lạc như số điện thoại, địa chỉ gửi thư, địa chỉ email, số fax, địa chỉ nhà, sở thích và các thông
            tin khác liên quan đến yêu cầu đặc biệt (nếu có).</li>
          <li>Bất kỳ thông tin nhận diện, hoặc bất kỳ thông tin nào cụ thể về cá nhân truy cập vào trang web.</li>
        </ol>
      </div>
      <div class="content-info">
        <span>2.&nbsp;CÁCH CHÚNG TÔI THU THẬP THÔNG TIN CÁ NHÂN CỦA BẠN</span>
        <p>Ajinomoto Việt Nam không tự tiến hành thu thập bất kỳ thông tin cá nhân nào như họ tên, địa chỉ, số điện thoại qua
          website của công ty, trừ khi được người truy cập tự nguyện cung cấp.</p>
        <p>Mỗi khi thu thập thông tin cá nhân trên Webiste, Ajinomoto Việt Nam luôn cho bạn biết rõ mục đích cụ thể.</p>
        <p>Ajinomoto Việt Nam tự động xác nhận địa chỉ IP của bạn, thông tin cookie hay thông tin trên bất kỳ website mà bạn
          đã xem, sau đó lưu lại thông tin này trên máy chủ. Những thông tin này được sử dụng để cải thiện chất lượng nội
          dung Webiste của chúng tôi.</p>
      </div>
      <div class="content-info">
        <span>3.&nbsp;CÁCH CHÚNG TÔI SỬ DỤNG THÔNG TIN CỦA BẠN</span>
        <p>Ajinomoto Việt Nam chỉ sử dụng những thông tin cá nhân này trong trường hợp cho mục đích như đã đề cập ở trên. Chúng
          tôi sẽ thông báo đến bạn trong trường hợp muốn sử dụng thông tin cá nhân với những mục đích khác.
          <br>
        </p>
      </div>
      <div class="content-info">
        <span>4.&nbsp;KHÔNG TIẾT LỘ THÔNG TIN CÁ NHÂN CỦA BẠN CHO BÊN THỨ BA</span>
        <p>Ajinomoto Việt Nam không tiết lộ, chuyển nhượng hoặc cho mượn thông tin cá nhân cho bất kỳ bên thứ ba nào. Trừ những
          trường hợp sau:</p>
        <ol>
          <li>Khi chúng tôi có sự cho phép của bạn.</li>
          <li>Khi các tổ chức trực thuộc, các công ty con của Ajinomoto Việt Nam cần các thông tin cá nhân này.</li>
          <li>Khi chúng tôi cần chuyển thông tin đó cho các công ty mà Ajinomoto Việt Nam thuê và đã có một thỏa thuận với Ajinomoto
            Việt Nam trong việc bảo mật thông tin của bạn.</li>
          <li>Khi thông tin được chuyển hóa thành thông tin không mang nhận dạng cá nhân nhằm mục đích thống kê dữ liệu.</li>
          <li>Trong các trường hợp khẩn cấp nhằm bảo vệ nhân mạng hoặc tài sản.</li>
          <li>Trong trường hợp được yêu cầu cung cấp thông tin theo quy định của pháp luật.</li>
        </ol>
      </div>
      <div class="content-info">
        <span>5.&nbsp;LƯU Ý VỀ “COOKIES”</span>
        <p>“Cookies” là các chữ cái và con số mang tính nhận dạng mà Webiste sẽ gửi vào ổ cứng máy tính của bạn thông qua trình
          duyệt web. Hệ thống trên Website này sử dụng cookie để nhận ra trình duyệt của bạn và lưu trữ thông tin truy cập
          của bạn cho lần truy cập kế tiếp.
          <br>
        </p>
      </div>
      <div class="content-info">
        <span>6.&nbsp;LƯU Ý VỀ BẢO MẬT KHI GỬI THÔNG TIN</span>
        <p>Khi bạn gửi thông tin cá nhân của bạn trên Webiste này, chúng tôi sẽ sử dụng phương pháp tốt nhất để bảo vệ quá trình
          truyền tải dữ liệu. Ajinomoto Việt Nam sẽ nỗ lực và cải tiến hệ thống nội bộ để đảm bảo nguồn lực và phương tiện
          quản lý, xử lý những thông tin cá nhân của bạn thật phù hợp và bảo mật thông tin cá nhân của bạn không bị thất
          lạc, thiệt hại.
          <br>
        </p>
      </div>
      <div class="content-info">
        <span>7.&nbsp;YÊU CẦU TỪ CHỐI CUNG CẤP, CHO PHÉP SỬ DỤNG, CHỈNH SỬA HOẶC XÓA THÔNG TIN CÁ NHÂN</span>
        <p>Nếu bạn không muốn cung cấp thông tin cá nhân cho Ajinomoto Việt Nam, bạn có thể từ chối. Tuy nhiên, việc từ chối
          này có thể dẫn tới việc hạn chế sử dụng một số dịch vụ trên Website. Bạn cũng có thể từ chối việc cho phép sử dụng
          thông tin cá nhân mình với mục đích khác như đã đề cập ở trên.</p>
        <p>Nếu bạn muốn chỉnh sửa hoặc yêu cầu xóa thông tin cá nhân, xin vui lòng click vào trang “Liên hệ”.</p>
      </div>
      <div class="content-info">
        <span>8.&nbsp;SỬA ĐỔI CHÍNH SÁCH BẢO MẬT</span>
        <p>Ajinomoto Việt Nam có thể xem xét lại chính sách bảo mật cho Website này. Bất kỳ sửa đổi chính sách nào cũng sẽ được
          đăng tải trên Website của chúng tôi bằng cách nhanh và dễ thấy nhất cho người truy cập.
          <br>
        </p>
      </div>
      <div class="content-info">
        <span>9.&nbsp;TRẢ LỜI VÀ GIẢI ĐÁP THẮC MẮC.</span>
        <p>Ajinomoto Việt Nam đã chỉ định một người chịu trách nhiệm và liên kết với một dịch vụ để xử lý mọi yêu cầu, thắc
          mắc của bạn về Website. Xin vui lòng gởi ý kiến của bạn đến chúng tôi tại email ….
          <br>
        </p>
      </div>
    </div>
  </div>
</section>

