<div class="row menu">
  <div class="col-md-4">
    <div class="cs-button" routerLinkActive="active">
      <a routerLink="materials">Nguyên Liệu</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="cs-button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['process']">Quy Trình Sản Xuất</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="cs-button" routerLinkActive="active">
      <a routerLink="info">Thông Tin Dinh Dưỡng</a>
    </div>
  </div>
</div>