<div class="row">
  <div class="text-center btn-about-ajimayo">
    <div class="cs-button button-white active">
      <a routerLink="/brands/materials">Về Aji-mayo
        <sup class="roboto-bold">®</sup>
      </a>
    </div>
    <img src="assets/images/shadow-about-aj.png" style="width: 100%;">
  </div>
</div>
<div class="row about-ajimayo-content">
  <div class="col-md-4  col-sm-4 fixed-mobile-z-index">
    <div class="img-move img-responsive">
      <img src="assets/images/move.png">
    </div>
  </div>
</div>