.btn-about-ajimayo {
  margin-top: -50px;
  padding: 0 25px;
  z-index: 1;
  width: 25%;
  float: right;
  a {
    font-size: 20px;
    padding: 5px 0;
  }
}

.cs-button.button-white.active {
  background: linear-gradient(to top, rgba(184, 5, 1, 1), rgba(254, 4, 0, 1));
  color: #fff;
}

.cs-button {
  border-radius: 30px;
  padding: 7px;
  cursor: pointer;
  a {
    border-radius: 50px;
    color: #2e2d2d;
    font-weight: 450;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-family: 'iCielSoupofJustice';
  }
}

.cs-button.button-white:hover a,
.cs-button.button-white.active a {
  background: linear-gradient(to bottom, rgba(254, 4, 0, 0.3), rgba(249, 35, 1, 0.7));
  color: #fff;
}
