.about-ajimayo-content .product-slider1 {
  max-width: 390px;
  width: 100%;
  height: 670px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  height: 635.641px;
}
#box1{
  -webkit-animation: showBox1 0.5s;
  animation: showBox1 0.5s;
}
.img-move {
  width: 100%;
  text-align: center;
  top: 90%;
  left: 4%;
  position: absolute;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-ajimayo-content .product-slider1 .slide-item {
  left: 35px;
  top: 476.731px;
  cursor: pointer;
  text-align: center;
  width: 25%;
  height: 25%;
  position: absolute;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.items-1 img {
  position: absolute;
  top: 170px;
}

.items-2 img {
  position: absolute;
  left: 200px;
  top: 170px;
}

.about-ajimayo-content .product-slider1 .slide-item.center {
  position: absolute;
  width: 70%;
  height: 60%;
  opacity: 1;
  top: 210px;
}

.about-ajimayo-content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.product-title {
  font-family: 'iCielSoupofJustice';
  color: #e6302e;
  font-size: 90px;
  margin-bottom: 70px;
  line-height: 80px;
  sup {
    font-size: 30px;
    vertical-align: baseline;
    position: relative;
    top: -1.5em;
  }
}

.product-section {
  font-family: "Roboto-Bold";
  border: 1px solid #e6302e;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  color: #e6302e;
  text-transform: uppercase;
}

.product-content {
  margin: 30px 0;
  text-align: justify;
  p {
    font-family: "Roboto-Regular";
    margin-bottom: 20px;
  }
  iframe {
    width: 100%;
  }
}

.right {
  display: flex;
}

.content-block1 p:last-child {
  overflow: hidden;
  position: relative;
  height: auto;
}

.image-col-right {
  width: 100%;
  margin-top: 50px;
}

.img-kem {
  padding: 0px;
  margin-top: 65px;
  margin-left: 25px
}

.product-line-1 {
  display: flex;
  flex-flow: wrap;
  p {
    width: 33.33%;
    float: left;
    padding-right: 10px;
    font-family: "Roboto-Regular";
  }
}

.product-line-2 table {
  width: 100%;
}
.product-line-2 td{
  padding: 8px 0;
}
.product-line-2 tr {
  border-top: 1px solid black;
  font-family: "Roboto-Regular"
}

.product-line-2 tr:first-child {
  border-top: none;
}

@media (max-width:991px) {
  .img-kem {
    display: none;
  }
  .product-title {
    font-size: 70px;
    line-height: 55px;
  }
}

@media (max-width:767px) {
  .product-title .box {
    margin-top: 55px;
    font-size: 60px;
    margin-bottom: 45px;
  }
}

@media (max-width:555px) {
  .product-title sup {
    top: -1em;
  }
}

@media (max-width:444px) {
  .product-title {
    font-size: 48px;
  }
}

@media (max-width:320px) {
  .img-move {
    img {
      width: 60%;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
@keyframes showBox1{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}