<div class="row">
  <div class="text-center btn-about-ajimayo">
    <div class="cs-button button-white active">
      <a routerLink="/brands/materials">Về Aji-mayo
        <sup class="roboto-bold">®</sup>
      </a>
    </div>
    <img src="assets/images/shadow-about-aj.png" style="width: 100%;">
  </div>
</div>
<div class="row about-ajimayo-content">
  <div class="col-md-4  col-sm-4 fixed-mobile-z-index">
    <div class="img-move img-responsive">
      <img src="assets/images/move.png">
    </div>
  </div>
  <div class="col-md-8 col-sm-8 right">
    <div class="col-lg-8 col-md-12">
      <h1 class="product-title box">
        Mayonnaise Aji-mayo
        <sup class="roboto-bold">®</sup>
        260G
      </h1>
      <div class="product-container">
        <span class="product-section box">
          giới thiệu
        </span>
      </div>
      <div class="product-content content-block1 box">
        <p>Xốt
          <b>Mayonnaise&nbsp;Aji-mayo®</b>&nbsp;là xốt gia vị đa năng phù hợp với nhiều món ăn như chấm, phủ, trộn. Nhờ "Nắp
          kép" tiện lợi
          <b>Aji-mayo®</b> giúp Mẹ trang trí món ăn dễ dàng, thỏa sức sáng tạo.
        </p>
        <p>Vị chua béo hài hòa của
          <b>Aji-mayo®</b>&nbsp;không những hợp khẩu vị của người Việt mà con mang đến vị ngon tuyệt vời cho các món rau, giúp
          bé ăn thật nhiều rau mỗi ngày.
        </p>
        <p>
          <iframe frameborder="0" src="//www.youtube.com/embed/yU6n5jBGbYM" width="640" height="360" class="note-video-clip"></iframe>
          <br>
        </p>
      </div>
    </div>
    <div class="col-lg-4 text-center img-kem">
      <img src="assets/images/kem.png" class="image-col-right">
    </div>
  </div>
</div>
