<div class="container">
  <div class="row titles">
    <div class="col-md-6 title-meterials">
      <p>
        Mayonnaise Aji-Mayo được sản xuất theo dây chuyền công nghệ Nhật Bản, với hương vị được điều chỉnh phù hợp với khẩu vị người
        Việt Nam.
      </p>
      <p>
        Toàn bộ quy trình được giám sát nghiêm ngặt từ khâu nguyên liệu đếu thành phẩm, tuẩn thủ đúng các quy định ISO và HACCP,
        đảm bảo sản phẩm đạt chất lượng cao, đảm bảo VSATTP cho người tiêu dùng.
      </p>
    </div>
  </div>
  <div class="row processing">
    <div class="col-md-12 text-center">
      <a [routerLink]="['eggs']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">QUY TRÌNH SỬ LÝ TRỨNG</a>
      <a [routerLink]="['mixture']" routerLinkActive="active">QUY TRÌNH PHỐI TRỘN, ĐỒNG HÓA</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
