h2{
    display: block;
    margin:  0 auto;
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Roboto-Bold';
}
.map{
    text-align: center;
}
img{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}