<form [formGroup]="rForm">
  <div class="header">
    <div class="redirect">
      <a routerLink="/register">Đăng kí</a>
    </div>
  </div>
  <div class="form-control">
    <input type="text" id="email" placeholder="Email" formControlName="email">
    <div *ngIf="formErrors.email">{{formErrors.email}}</div>
  </div>
  <div class="form-control">
    <input type="password" id="password" placeholder="Password" formControlName="password">
    <div *ngIf="formErrors.password">{{formErrors.password}}</div>
  </div>
  <div class="control">
    <div class="submit">
      <button (click)="onSubmit()" [disabled]="rForm.invalid || isSubmitting">Đăng Nhập</button>
    </div>
  </div>
</form>