<div class="container fx-pd">
  <div class="row fix-mg">
    <div class="col-md-7 block">
      <div class="material_content material_content_1">
        <div class="material_subcontent">
          <img src="assets/images/nguyenlieu_1.png" alt="">
          <h3>Trứng gà tươi</h3>
          <div>
            <blockquote>
              <p>
                Trứng gà được cung cấp bởi các công ty nuôi gà uy tín, đạt chuẩn chất lượng cap, được chứng nhận VietGap, cũng như giấy chứng
                nhận "Chuỗi thực phẩm an toàn"
              </p>
            </blockquote>
            <p>
              **Giấy chứng nhận VietGAP do Công ty Cổ phần chứng nhận và giám định Viencert cấp.
            </p>
            <p>
              **Giấy chứng nhận Chuỗi Thực Phẩm An Toàn do Chi cục An toàn vệ sinh thực phẩm Thành phố Hồ Chí Minh cấp.
            </p>
            <hr>
            <p>
              Các trang trại nuôi gà được kiểm soát tất cả các điều kiện về nhiệt độ, ăn uống của gà một cách chặt chẽ để trứng gà đảm
              bảo đạt chuẩn chất lượng tốt nhất.
            </p>
            <hr>
            <p>
              Trứng gà luôn được đảm bảo tươi trước khi đưa vào sản xuất, từ lúc thu hoạch cho đến khi ra thành phẩm cuối cùng trong vòng
              6 ngày.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="material_content material_content_2">
        <div class="material_subcontent">
          <img src="assets/images/nguyenlieu_2.png" alt="">
          <h2>
            Dầu thực vật
          </h2>
          <p>
            Sử dụng dầu thực vật chuyên dùng trong chế biến thực phẩm, được lựa chọn từ nhà sản xuất dầu chuyên dùng đạt chứng nhận tiêu
            chuẩn chất lượng cao (Chứng nhận ISO & HACCP, VSATTP và Quy trình kiểm soát).
          </p>
        </div>
      </div>
      <div class="material_content material_content_3">
        <div class="material_subcontent">
          <img src="assets/images/nguyenlieu_3.png" alt="">
          <h2>Giấm</h2>
          <p>
            Sử dụng giấm gạo lên men của công ty Ajnomoto, sản xuất theo tiêu chuẩn công nghệ Nhật Bản, có hương vị đặc trưng chuyên
            dùng chế biến đặc biệt cho mayonnaise.
          </p>
        </div>
      </div>
      <div class="material_content material_content_4">
        <div class="material_subcontent">
          <h2>Nguyên liệu khác</h2>
          <div class="content-mobile-nguyenlieu-content-4">
            <p>
              Các nguồn nguyên liệu được nhập từ các nhà sản xuất uy tín và chất lượng.
            </p>
            <img src="assets/images/nguyenlieu_4.png" alt="">
            <p>
              Tất cả các lò nguyên liệu nhập về đều trải qua quá trình kiểm tra và theo dõi chất lượng nghiêm ngặt trước khi đưa vào sử
              dụng.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
