<div class="container">
  <div class="row fix-pd">
    <div class="col-md-6 img">
      <img src="assets/images/thongtindd_banner.png" alt="">
    </div>
    <div class="col-md-6 text-content">
      <h2>
          Mayonnaise Aji-mayo® sử dụng dầu nành và dầu hạt cải
      </h2>
      <p>
        Dầu nành và dầu hạt cải đều chứa hàm lượng chất béo không bão hòa cao, rất tốt cho sức khỏe
      </p>
      <p>
        Dầu hạt cải có chứa rất nhiều chất béo omega-3 (11%), giúp bảo vệ chống lại đau tim và đột quỵ, axit béo omega-6 (21%) rất
        tốt cho não bộ.
      </p>
      <p>
        Dầu nành chứa rất nhiều chất chống oxi hóa tự nhiên, đặc biệt giàu vitamin E, giúp chống lão hóa, ngừa ung thư.
      </p>
    </div>
  </div>
  <div class="title">
    Lợi ích của trứng gà
  </div>
  <div class="row benifit">
    <div class="col-md-3 col-sm-3 col-xs-6 item-search item-odd-even">
      <div class="circle">
        <div class="img-search">
          <img src="assets/images/thongtindd_img1.png" alt="">
        </div>
      </div>
      <p class=" text-center content-fix">
        Trứng gà chứa nguồn protein rất dồi dào và các loại vitamin, khoáng chất rất cần thiết cho hệ miễn dịch.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 item-search item-odd-even">
      <div class="circle">
        <div class="img-search">
          <img src="assets/images/thongtindd_img2.png" alt="">
        </div>
      </div>
      <p class=" text-center content-fix">
        Trong trứng gà có một số lượng lớn vitamin A, D, E, B1, B6, B12,.... Ngoài ra, còn phải kể đến canxi, magie, sắt và kẽm.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 item-search item-odd-even">
      <div class="circle">
        <div class="img-search">
          <img src="assets/images/thongtindd_img3.png" alt="">
        </div>
      </div>
      <p class=" text-center content-fix">
          Chất lecithin trong trứng có tác dụng trong quá trình tiêu hóa, hỗ trợ hoạt động gan, hạn chế nguy cơ bị tắc nghẽn động mạch do cholesterol gây ra.
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 item-search item-odd-even">
      <div class="circle">
        <div class="img-search">
          <img src="assets/images/thongtindd_img4.png" alt="">
        </div>
      </div>
      <p class=" text-center content-fix">
          Riêng lòng trắng trứng có tác dụng chống lão hóa, tăng cường lực và độ dẻo dai cho cơ bắp.
      </p>
    </div>
  </div>
</div>
