.menu {
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  .cs-button {
    background: -webkit-gradient(linear, left top, left bottom, from(#fffffd), to(rgba(255, 241, 219, 0.7)));
    border-radius: 20px;
    line-height: 2;
    margin: 5px 0px;
    padding: 7px;
    &:hover {
      background: linear-gradient(to top, rgba(184, 5, 1, 1), rgba(254, 4, 0, 1));
      a {
        background: linear-gradient(to bottom, rgba(254, 4, 0, 0.3), rgba(249, 35, 1, 1));
        color: #fffdf3;
      }
    }
    a {
      display: block;
      border-radius: 50px;
      background: #fff;
      font-weight: 600;
      color: #333333;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
@media (max-width:991px){
  .menu{
    padding-left: unset;
    padding-right: unset;
  }
}
