<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/images/logo.png" alt="">  
      </div>
      <div class="col-md-5 menu">
        <a routerLink="">Giới Thiệu</a>
        <a routerLink="">Chính sách bảo mật</a>
        <a routerLink="">Liên hệ</a>
      </div>
      <div class="col-md-4 connect">
        <span>KẾT NỐI AJI-MAYO</span>
        <a routerLink="">
          <img src="assets/images/icon-facebook.png" alt="">
        </a>
        <a routerLink="">
          <img src="assets/images/icon-youtube.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center footer-bottom">
        <p>Copyright © 2018 • Ajinomoto Vietnam • All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
