.img-header {
  img {
    max-width: 100%;
  }
}

.collapse {
  padding-right: 70px;
}

.sub-menu {
  padding: 0;
  background: linear-gradient(to top, rgba(184, 5, 1, 1), rgba(254, 4, 0, 1));
  border-radius: 30px;
  max-height: 220px;
  position: absolute;
  li {
    list-style: none;
    a {
      // background: linear-gradient(to bottom, rgba(254, 4, 0, 0.3), rgba(249, 35, 1, 1));
      text-decoration: none;
      border-radius: 30px;
      color: white;
      font-family: 'Roboto-Bold';
      display: block;
      padding: 10px 15px;
      margin: 10px 10px;
      text-transform: uppercase
    }
  }
}

.menu-item {
  //background: linear-gradient(to top, rgba(184, 5, 1, 1 ), rgba(254, 4, 0, 1));
  border-radius: 30px;
  margin: 0 15px;
  position: relative;
}

.collapse ul ul {
  display: none;
}

.collapse ul li:hover>ul {
  display: block;
}

.navbar-nav>.menu-item>a {
  transition: all 0.2s ease-in-out;
  line-height: 1;
  margin: 0px;
  display: block;
  text-transform: uppercase;
}

.search-form {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 10px;
  .search-input {
    // visibility: hidden;
    padding: 20px 60px 20px 20px;
    font-size: 15px;
    outline: 0;
    width: 58px;
    height: 58px;
    right: 0;
    position: absolute;
    border-radius: 30px;
    border: 1px solid transparent;
    bottom: 0;
    background-color: transparent;
    &:focus {
      background-color: #fff;
      width: 310px; // visibility: visible;
    }
  }
  .btn-search {
    width: 38px;
    height: 38px;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 12px;
    top: 1px;
    padding: 0;
    cursor: pointer;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

