<!-- <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem>
    <img src="assets/images/ajimayo-about.png" alt=""> 
  </ngu-item>
  <ngu-item NguCarouselItem>
    <img src="assets/images/ajimayo-about.png" alt=""> 
  </ngu-item>
  <ngu-item NguCarouselItem>
    <img src="assets/images/ajimayo-about.png" alt=""> 
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel> -->
<H2>
  Huy
</H2>