.btn {
    width: 50%;
}
h2{
    display: inline-block;
}
h2:nth-child(2){
    float: right;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: red;
        }
    }
}