<div class="row">
  <div class="col-md-6 tx-center">
    <form [formGroup]="registerForm">
      <div class="header">
        <h1>Đăng kí tài khoản</h1>
        <div class="redirect">
          or
          <a routerLink="/login">Login</a>
        </div>
      </div>

      <div class="form-control">
        <input type="text" id="email" placeholder="Email" formControlName="email" [(ngModel)]="email">
        <div *ngIf="formErrors.email">{{formErrors.email}}</div>
      </div>

      <div class="form-control">
        <input type="text" id="fullname" placeholder="Fullname" formControlName="fullname" [(ngModel)]="fullname">
        <div *ngIf="formErrors.fullname">{{formErrors.fullname}}</div>
      </div>

      <div class="form-control">
        <input type="password" id="password" placeholder="Password" formControlName="password" [(ngModel)]="password">
        <div *ngIf="formErrors.password">{{formErrors.password}}</div>
      </div>

      <div class="form-control">
        <input type="password" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" [(ngModel)]="confirmPassword">
        <div *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</div>
      </div>

      <div class="control">
        <div class="submit">
          <button (click)="onSubmit()" [disabled]="!registerForm.valid || isSubmitting">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
