<form (ngSubmit)="onSubmit(form.value)" [formGroup]="registerForm" #form="ngForm">
  <div class="header">
    <div class="redirect">
      <h2>Đăng Kí</h2>
    </div>
  </div>
  <div class="form-control">
    <input type="text" id="username" placeholder="Username" formControlName="username" onblur="this.placeholder='Username'" onfocus="this.placeholder=''">
    <div class="col alert alert-danger" role="alert" *ngIf="registerForm.controls.username?.errors?.required && registerForm.controls.username?.touched">
      Username is required !
    </div>
  </div>
  <div class="form-control">
    <input type="text" id="email" placeholder="Email" formControlName="email" onblur="this.placeholder='Email'" onfocus="this.placeholder=''">
    <div class="col alert alert-danger" role="alert" *ngIf="registerForm.controls.email?.errors?.required && registerForm.controls.email?.touched">
      Email is required !
    </div>
  </div>
  <div class="form-control">
    <input type="password" id="password" placeholder="Password" formControlName="password" onblur="this.placeholder='Password'"
      onfocus="this.placeholder=''">
    <div class="col alert alert-danger" role="alert" *ngIf="registerForm.controls.password?.errors?.required && registerForm.controls.password?.touched">
      Password is required !
    </div>
  </div>
  <div class="form-control">
    <input type="password" id="confirmPassword" placeholder="ConfirmPassword" formControlName="confirmPassword" onblur="this.placeholder='ConfirmPassword'"
      onfocus="this.placeholder=''">
    <div class="col alert alert-danger" role="alert" *ngIf="registerForm.controls.confirmPassword?.errors?.required && registerForm.controls.confirmPassword?.touched">
      ConfirmPassword is required !
    </div>
  </div>
  <div class="control">
    <div class="submit">
      <button [disabled]="registerForm.invalid">Đăng Kí</button>
      <a routerLink="/login">Đăng Nhập</a>
    </div>
  </div>
</form>
<p>Form value</p>
<pre>{{form.value | json}}</pre>
